.invoice-page {
  width: 595pt;   /* A4 width in points */
  height: 842pt;  /* A4 height */
  padding: 0;
  position: relative;
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  color: #31395e;
}

.invoice-border {
  border: 2pt solid #31395e;
  position: absolute;
  top: 15pt;
  left: 15pt;
  right: 15pt;
  bottom: 15pt;
  padding: 10pt;
}

.tax-label {
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  top: -15pt;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 3pt 6pt;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.company-title {
  font-size: 22pt;
  margin: 0;
  border-bottom: 2pt solid #31395e;
  text-align: left;
}

.address {
  font-size: 11pt;
  border-bottom: 1.5pt solid #31395e;
  width: fit-content;
}

.right div {
  font-size: 11pt;
  text-align: right;
}

.divider {
  border: none;
  border-top: 1.5pt solid #31395e;
}

.invoice-meta {
  display: flex;
  justify-content: space-between;
  font-size: 11pt;
  font-weight: bold;
}

.invoice-meta .center {
  text-align: center;
  flex: 1;
}
